#navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(34,34,34);
    height: 50px;
}
#navbar img{
    width: 30px;
    height: 30px;
    margin: 5px 10px;
}
#navbar>div{
    display: flex;
    margin: 5px 10px;

}
#navbar h3{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar>div>h3+div{
    border-left: 4px solid wheat;
  height: 30px;
  margin: 5px 10px;
}
#logo{
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
#logo img{
    width: 300px;
    height: 70px;
}
#lite{
    width: 70%;
    padding: 1px;
    background-color: black;
    margin: auto;
}
hr{
    width:70%;
    margin-top: -10px;
}
#heading{
    width:70%;
    display: flex;
    justify-content: space-between;
     margin: auto; 
     cursor: pointer;
}
#heading img{
    margin-top: 10px;
    display: flex;
    width:30px;
    height:30px;
    align-items: center;
   
}
#heading p{
font-size: 20px ;
}